<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agregar Canción</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <h1>Agregar Nueva Canción</h1>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul class="flashes">
      {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <form
      action="{{ url_for('canciones.agregar_cancion') }}"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

      <label for="titulo">Título:</label>
      <input type="text" id="titulo" name="titulo" required />

      <label for="letra"
        >Letra de la Canción (opcional, máximo 300 caracteres):</label
      >
      <textarea id="letra" name="letra" rows="5" maxlength="300"></textarea>

      <label for="foto">Fotografía:</label>
      <input type="file" id="foto" name="foto" accept="image/*" />

      <button type="submit" class="button">Agregar Canción</button>
      <a href="{{ url_for('canciones.index') }}" class="button cancel-button"
        >Cancelar</a
      >
    </form>
  </body>
</html>
